<div class="h-56 m-7 w-60">
  <figure class="">
    <img class="rounded-lg h-44 w-60 object-cover" [src]="product.image" />
  </figure>
  <div class="flex justify-between">
    <h3 class="mt-2 flex font-light">{{ product.title.length > 12 ? product.title.substring(0,12) : product.title }}</h3>
    <p class="mt-2 font-bold ">${{ product.price }}</p>
  </div>

  <button class="rounded-lg bg-slate-300 w-full h-7 mt-2 font-semibold" (click)="addToCartHandler()">Add to cart</button>
</div>
          