<section class="w-screen h-screen">
    <div class="flex justify-between py-28 mx-auto w-11/12 h-2/3 mt-9 px-36">
        <div class="flex flex-col space-y-3 w-96">
            <p class="text-3xl font-semibold">About us</p>
            <p class="font-light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem reiciendis incidunt quisquam ipsum pariatur facilis consectetur fugiat quam quaerat dolor aspernatur quae, odit laborum quibusdam distinctio tenetur? Amet, eos repellendus?</p>
        </div>
        <div class="flex flex-col space-y-3 w-96">
            <p class="text-3xl font-semibold">What do we do</p>
            <p class="font-light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem reiciendis incidunt quisquam ipsum pariatur facilis consectetur fugiat quam quaerat dolor aspernatur quae, odit laborum quibusdam distinctio tenetur? Amet, eos repellendus?</p>
        </div>
    </div>
</section>