<section class="w-screen h-screen">
    <div class="w-auto flex justify-center pt-10 pb-5">
      <p class="text-9xl font-extrabold">404</p>
    </div>
    <div class="flex justify-center">
      <p class="">It seems that the page you are looking for doesn't exist :(</p>
    </div>
    <div class="flex justify-center mt-5">
      <button routerLink="" class="bg-gray-300 font-semibold w-auto p-3 h-12 rounded-lg transition ease-out delay-100 hover:scale-110 hover:bg-slate-500 hover:shadow-xl duration-200 hover:text-white">
  Do you want to go back to home?</button>
    </div>
  </section>