<nav class="bg-white w-full flex justify-between items-center px-3">
  <figure class="h-16 w-16 ml-6">
    <img
      src="https://cdn-icons-png.flaticon.com/512/5968/5968204.png"
      alt="Logo"
      class="cursor-pointer"
      routerLink=""
    />
  </figure>
  <div class="my-5">
    <ul class="flex items-center gap-16">
      <li class="font-light hover:text-gray-500 cursor-pointer">
        <a routerLink="categories" routerLinkActive="underline">
          Categories
        </a>
      </li>
      <li class="font-light hover:text-gray-500 cursor-pointer">
        <a routerLink="about" routerLinkActive="underline">
          About
        </a>
      </li>
      <li class="font-light hover:text-gray-500 cursor-pointer">
        <a href="">
          Log In
        </a>
      </li>
      <li class="font-light hover:text-gray-500 cursor-pointer">
        <a href="">Orders</a>
      </li>
    </ul>
  </div>
  <div class="w-8 h-8 items-center mr-3 cursor-pointer flex">
    <p class="font-light">{{ cartProducts().length }}</p>
    <svg (click)="showCartHandler()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-20 h-20" >
      <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
    </svg>
    
  </div>
</nav>

<div
  class="fixed border-l-8 border-gray-300 top-0 right-0 w-72 h-screen p-4 overflow-y-auto transition-transform bg-white duration-500 delay-100"
  [class.translate-x-full]="!showCart()"
>
  <div class="flex justify-between items-center">
    <p class="font-light text-xl">My Cart</p>
    <button (click)="showCartHandler()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>
  <div class="h-full w-full mt-2 flex flex-col space-y-3">
    <app-product-cart />
    <div class="flex justify-between mb-4">
      <p class="font-light text-lg">Total price</p>
      <p class="text-lg font-semibold">{{ totalPrice() | currency }}</p>
    </div>
  </div>
</div>
