<nav class="bg-white w-full flex justify-between items-center fixed mx-auto">
    <figure class="h-16 w-16 ml-6">
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968204.png" alt="Logo" class="cursor-pointer">
    </figure>
    <div class="my-5">
        <ul class="flex items-center gap-16">
            <li class="font-light hover:text-gray-500 cursor-pointer">Categories</li>
            <li class="font-light hover:text-gray-500 cursor-pointer">My Account</li>
            <li class="font-light hover:text-gray-500 cursor-pointer">Shopping cart</li>
            <li class="font-light hover:text-gray-500 cursor-pointer">Orders</li>
        </ul>
    </div>
    <div>
        <button class="bg-black rounded-xl w-32 h-12 text-white hover:bg-zinc-900 mx-4">Sign In</button>
    </div>
</nav>